<%- include('partials/header'); -%>
<h1>Compose</h1>

<form class="" action="/compose" method="post">
<div class="form-group">
<lable>Title</lable>
<input  class="form-control" type="text" name="postTitle">
<lable>Post</lable>
<textarea  name="postBody"  ows="5" columns="30" class="form-control" ></textarea>

</div>
<button type="submit" class="btn btn-primary" name="button"> Publish</button>
</form>

<%- include('partials/footer'); -%>